@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Brevis</h1>
    <h2>Calcula el camino mas corto para recibirte!</h2>
    <br>
    <div>
        <form method="post" enctype="multipart/form-data">
            <input asp-for="File" type="file" />
            <input type="submit" />
        </form>
    </div>
</div>
