@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">

    <h2>Calculá el camino mas corto para recibirte!</h2>
    <br>
    <div>
        <form method="post" enctype="multipart/form-data">
            <input asp-for="File" type="file" />
            <select asp-for="selectedProgressCarreer">
                <optgroup label="Seleccione un lector">
                    @{
                        foreach (var item in Model._progressCarreerTransformerImplementations)
                        {
                            <text>
                            <option value="@item.Value">@item.Key - @item.Value</option>
                            </text>
                        }
                    }
                </optgroup>
            </select>
            <input type="submit" value="Calcular" />
        </form>
    </div>

    <br />
    <br />

</div>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
