@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Brevis</h1>
    <h2>Calculá el camino mas corto para recibirte!</h2>
    <br>
    <div>
        <form method="post" enctype="multipart/form-data">
            <input asp-for="File" type="file" />
            <select asp-for="selectedProgressCarreer">
                <optgroup label="Seleccione un lector">
                    @{
                        foreach (var item in Model._progressCarreerTransformerImplementations)
                        {
                            <text>
                            <option>@item.Item1.@item.Item2</option></text>
                        }
                    }
                </optgroup>
            </select>
            <input type="submit" />
        </form>
    </div>

    <br />
    <br />

@*    <section>
        <h5>Implementaciones cargadas</h5>
        <div>
            <table>
                <tr>
                    <td>Assembly</td>
                    <td>Class</td>
                </tr>
                @foreach (var item in Model._progressCarreerTransformerImplementations)
                {
                    <tr style="text-align:left">
                        <td>@item.Item1</td>
                        <td>@item.Item2</td>
                    </tr>
                }
            </table>
        </div>
    </section>*@
</div>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
